extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles 
      li.list-group-item= article.title
      = " "
      li.list-group-item 
        a(href=article.link, target="_blank"): button.btn.btn-default(type="submit") Read More
        = " "
        a(href="/note/save"): button.btn.btn-default(type="button") Save Article
        = " "
        a(href="/note/:id"): button.btn.btn-default(type="button") Article Notes
        br
        br
